.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container .gallery__title {
    text-align: center;
    margin: 100px 0 20px 0;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    border: 2px dotted;
    padding: 20px;
}

.gallery__photos {
    min-height: 100px;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    overflow: hidden;
    box-sizing: border-box;
    height: 200px;
    margin: 10px 0;
}

.tz-gallery .lightbox {
    text-align: center;
}

.tz-gallery .lightbox img {
    border-radius: 0;
    height: auto;
    position: relative;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    height: 100%;
    object-fit: cover;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'FontAwesome';
    content: "\f002";
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.tz-gallery .lightbox:hover img {
    transform: scale(1.1);
}

.baguetteBox-button {
    background-color: transparent !important;
}

.gallery__image {
    width: 100%;
    height: 200px;
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.gallery__title small {
    white-space: nowrap;
    vertical-align: middle;
    padding: 0;
    margin-left: 10px;
}

.gallery_more {
    margin-top: 70px;
    text-align: center;
}

.gallery_more .btn {
    width: 60%;
    background: #fff;
    color: #1C7AA8;
    border-radius: 10px;
    border: 1px solid #1C7AA8;
    transition: color .7s ease, background .7s ease-in-out;
}

.gallery_more .btn:hover {
    color: #fff;
    background: #1C7AA8;
}

.media-gallery .list-group .list-group-item {
    outline: none;
    min-height: 100px;
    overflow: hidden;
}

.media-gallery .row:first-child {
    margin-top: 60px;
}

.media-gallery .list-group small:before {
    content: " | ";
    color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    margin: 0 5px;
}

.media-gallery .list-group .badge {
    line-height: 20px;
    min-width: 8em;
    padding: 5px;
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }

    .tz-gallery .row > div {
        height: auto;
    }

}

.video-gallery .frame {
    text-align: center;
}

.video-gallery h1 {
    margin-top: 60px;
    font-size: 15px;
}

.video-gallery h1 small {
    white-space: nowrap;
}

.video-gallery .frame:nth-child(1) h1, .frame:nth-child(2) h1 {
    margin-top: 60px;
}
