.aktualita{

    margin-top: 25px;
}
.header-input{

    font-family: Georgia, "Times New Roman", Times, serif;
    padding-bottom: 25px;

}
.aktualita{
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
}
.header-filter{

    padding-left: 0px;
}
.subFilter{

    margin-top: 30px;
}
.btnFilter{

    margin-top: 20px;

}
.aktinfo{

    font-size: 12px;
    font-style: italic;
    color:#b0b0b0;
    text-transform: uppercase;
}
.clanokNad{

    margin-bottom: 0px;

}
.info{
    margin-top: 5px;
    margin-bottom: 10px;
}
.select{

    text-decoration: underline!important;
}
.hide{
    display: none;
}
.newsletter{

    margin-bottom: 90px;
}
.unsub{
    color: white;
    text-decoration: underline!important;
    line-height: 18px;

}
.unsub:hover{
    color:#dcdcdc;
}
.pUnsub{

    margin-bottom: 0px;
}
.inputPas,.inputSub{

    margin-top: 18px;
}
.warn{
    background-color: #f0ad4e!important;

}
.warn:hover{
    background-color: #f0ad4e!important;

}
.res{
    margin-top: 10px;
    position: absolute;
}