#autonomneImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#vozidlo {
    width: 50%;
}
#technickeUdaje {
    display: block;
    padding-top: 7%;
    height: 100%;
}