.modalElement{

    font-weight: bold;

    margin-top: 15px;
}
#myModal{
    max-height: 511px;
    padding-right: 0px!important;
}
.close{
    color:white;
}
.modal-body{
    min-height: 400px;
}
.modal-header{
    background: #222222;
    color: white;
}
@media (max-width: 386px) {

    #myModal{

        max-height: 545px;
    }
}
@media (max-width: 234px) {

    #myModal{

        max-height: 575px;
    }
}
h2{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
    text-transform: uppercase;
}
.nadpis2{
    margin-top: 40px;
    font-size: 25px!important;
}
.noscroll{
    overflow: hidden;
}

.modalElement:not(:first-child){
    border-top: 1px solid #dcdcdc;
    padding-top: 15px;

}
#topbar {
    font-family: Verdana, Geneva, sans-serif!important;
    font-size: .7rem!important;
}
#mainav{
    font-family: Verdana, Geneva, sans-serif!important;
}