.dov{
	background-color: chartreuse;
}
.pn {
	background-color: #e73f7c;
}
.sc{
	background-color: darksalmon;
}
.pd{
	background-color: #f39a0d;
}
.ocr{
	background-color: orchid;
}
.weekend {
	background-color: darkturquoise;
}
.week{
	background-color: #7adddd;
}
td, th{
	text-align: center;
}

#nepritomnost{
	display: none;
}
#cancelEdit{
	display: none;
}
#save{
	display: none;
}
a{
	color: black;
}
.myMonth{
	font-size:20px;
	padding: 50px;
	border: double;
}

.table2{
	table-layout:fixed;
}
.weekhigh{
	height: 50px;
	vertical-align: middle;
}

.table2head{
	background-color: darkgray;
}
