.cellCreate{
    text-align: center;
    background-image: url("../image/done.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.shoppingTitle{

}

.shoppingTableBody{
    max-height: 150px;
    overflow: auto;
}

.perm{
    margin-left: 20px;
}

#activity_table th {
    min-width: 100px;
}

#activity_modal label {
    width: 100%;
}

#activity_modal .modal-title {
    overflow: auto;
}

.modal input[type=file] {
    border: none;
    outline: none;
}

.form__image_add {
    float: left;
    background: transparent;
    width: auto;
    color: black;
}

input[type=file] {
    border: none;
    outline: none;
}
.fa-file{
    margin-right: 10px;
}
